body{
    display: flex;
    flex-wrap: wrap;
}
p{
    word-break: break-all;
}
.navbar-default{
    background-color: white;
}
.nav{
    float: left;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
}
.nav-tabs{
    padding-right:0;
    float: right;
}
.nav-tabs>li{
    margin-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 16px;
}
.nav-tabs>li>a{
    color: #4F4F4F;
    font-family: FZLanTingHei-EL-GBK,"Open Sans","Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",Dengxian,Arial,SimSun,sans-serif;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:active{
    background-color: #f8f8f8;
    color: OrangeRed;
}

.img-responsive{
    float: left;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.activity-heading{
	margin-top: 35px;
}

.footer {
    height: 160px;
    border-top: 1px dotted OrangeRed;
}
.footer-cover {
    padding-top: 10px;
}
.footer-content {
    padding-top: 0px;
}
.footer-content>hr {
    height: 1px;
    margin-top: 2px;
    margin-bottom: 4px;
}
.footer-cover>a>img {
    padding: 0 16px;
}