body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #7f7f7f;
    background: #f9f6f6;
    height: 100%;
    position: relative;
}
.desc>p{
    text-indent: 2em;
}
.navbar-default{
    background-color: white;
}
.nav{
    float: right;
    padding-top: 7px;
    padding-right: 30px;
}
.nav-tabs>li{
    margin-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 18px;
}
.nav-tabs>li>a{
    color: #4F4F4F;
    font-family: FZLanTingHei-EL-GBK,"Open Sans","Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",Dengxian,Arial,SimSun,sans-serif;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:active{
    background-color: #f8f8f8;
    color: OrangeRed;
}

.img-responsive{
    float: left;
}
#activity-section {
    padding-top: 3em;
    padding-bottom: 6em;
}
@media screen and (max-width: 768px) {
    #activity-section {
        padding: 3em 0;
    }
}



.activity-heading {
    margin-bottom: 3em;
}
.activity-heading h2 {
    color: #5a5a5a;
    margin-top: 45px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 40px;
    font-family: SimSun
}
.activity-heading p{
    font-size: 20px;
    margin-bottom: 1.5em;
    color: #848484;
    font-family: SimSun;
}

.activity-inner {
    background: white;
    -webkit-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
    -ms-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
    -o-box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 9px 29px -9px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    margin-bottom: 40px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.activity-inner img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.activity-inner .desc {
    padding: 20px;
}
.activity-inner .desc h3 {
    color:#848484;
    line-height: 50px;
    font-family: SimSun;
}
.activity-inner .desc p{
    color:#848484;
    line-height: 24px;
    font-family: SimSun;
}
.activity-inner .desc h3 a {
    color: rgba(0, 0, 0, 0.8);
}
.activity-inner .desc h3 a:hover, .activity-inner .desc h3 a:focus {
    text-decoration: none;
}
.activity-inner:hover {
    -webkit-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
    -ms-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
    -o-box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 9px 43px -10px rgba(0, 0, 0, 0.17);
}
.activity-inner .front{
    transform: rotateY(0);
    transition: all 0.50s ease-in-out 0s;
}
.activity-inner:hover .front{
    transform: rotateY(-90deg);
}
.activity-inner .front img{
    width: 100%;
    height: auto;
}
.activity-inner .back{
    width: 92%;
    height: 47.6%;
    position: absolute;
    top: 0;
    margin-left: 1.8px;
    padding: 60px 20px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    transform: rotateY(90deg);
    transition: all 0.50s ease-in-out 0s;
}
.activity-inner:hover .back{
    transform: rotateY(0);
}

.activity-inner .back:after{
    content: "";
    width: 80%;
    display: block;
    border-bottom: 1px solid #fff;
    margin: 15px auto;
}
.back{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;

}
.activity-inner .back2{
    width: 92%;
    height: 93%;
    position: absolute;
    top: 0;
    margin-left: 2.2px;
    padding: 60px 20px;
    text-align: center;
    background: rgba(0,0,0,0.7);
    transform: rotateY(90deg);
    transition: all 0.50s ease-in-out 0s;
}
.activity-inner:hover .back2{
    transform: rotateY(0);
}

.activity-inner .back2:after{
    content: "";
    width: 80%;
    display: block;
    border-bottom: 1px solid #fff;
    margin: 15px auto;
}
.back2{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;

}

.footer{
    clear: both;
    height: 200px;
    width: 100%;
    background-color: #ddd;
    margin-top: 40px;
}
.footer-cover{
    padding-top: 20px;
    text-align: center;
}
.footer-cover>a>img{
    weight: 40px;
    height: 40px;
    padding: 0 30px;
}
.footer-content{
    color: #777;
    padding-top: 20px;
    text-align: center;
}
.footer-content>hr{
    background-color: #777;
    height: 1px;
}

.tooltip-box {
    display: block;
    width: 150px;
    height: 180px;
    background:OrangeRed;
}
#mycard{
    width:150px;
    height:150px;
}
#mycard img {
    width:150px;
    height:150px;
    padding: 10px;
}
#mycard h4 {
    position: relative;
    font-family: FZLanTingHei-EL-GBK,"Open Sans","Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",Dengxian,Arial,SimSun,sans-serif;
    bottom: 10px;
    color: white;
}

