<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>活动介绍</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/haf.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/activity/activity_css.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/activity/bootstrap.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="__CSS__/activity/activity_smallcss.css" />
    <script type="text/javascript" src="__JS__/jquery1.js"></script>
    <script type="text/javascript">
        function disp_alert()
        {
            alert("活动尚未启动，敬请期待！")
        }

    </script>
</head>
<body>
<div id="head">
    <div id="head-body">
        <!-- 导航栏左面的部分 -->
        <div id="head-left">
            <a href="../blog/blog.html"><img src="__IMG__/zqs_icon.jpg" id="zqs_icon"></a>
            <a href=""><img src="__IMG__/zqs.png" id="zqs"></a>
            <div id="icon-display">
                <span class="glyphicon glyphicon-th-list"></span>
            </div>
        </div>
        <!-- 导航栏右面的部分 -->
        <div id="head-right">
            <div id="label">
                <ul>
                    <li class="default_li"><a href="../index/index.html">主页</a></li>
                    <li class="default_li active_li_fixed"><a href="">活动介绍</a></li>
                    <li class="default_li"><a href="../genius/genius.html">自强人物</a></li>
                    <li class="default_li"><a href="../contract/contract.html">加入我们</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<hr/>
<div id="activity-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center activity-heading">
                <h2>活动介绍</h2>
                <p><span>百花齐放，公益也慰问</span></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <div class="activity-inner">
                    <div class="front">
                        <img class="img-responsive" src="__IMG__/activity_picture/activity1.jpg" alt="activity">
                        <div class="desc">
                            <h3>旧书圆新梦</h3>
                            <p>借助自强社这一平台，为大三大四即将毕业的学子们提供一个处理书籍的途径，同时
                                也帮助他们奉献一份爱心给自己专业的学弟学妹们，尽自己所能，帮助部分贫困学子减轻
                                家庭负担，为初入大学的他们献上一份爱心，让他们感受到我们学校的暖意。<br/><br/></p>
                        </div>
                    </div>
                    <div class="back">
                        <br><br><br>
                        <!--   <div class="box2">
                            <h4>活动尚未启动，敬请期待！</h4>
                          <div class="close">
                            <a href="">退出</a>
                          </div>
                          </div>  -->

                        <h3 style="color: white">自强欢迎你！</h3>
                        <br/>
                        <!--  <input type="submit" name="jr" class="one" value="报名入口">-->
                        <input type="button" onclick="disp_alert()" value="报名入口" />

                    </div>




                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="activity-inner">
                            <div class="front">
                                <img class="img-responsive" src="__IMG__/activity_picture/activity2.jpg" alt="activity">
                                <div class="desc">
                                    <h3>自强杯演讲比赛</h3>
                                    <p>
                                        自强杯演讲比赛为华中七校自强社联合举办，为理工学子提供一个展示自我的平台，让他们迈出自信的第一步，同时让他们将“自信自强”的精神带给身边的学生。通过举办以“自强、感恩、责任”为主题的主题演讲来唤醒当代大学生关于自强感恩精神的思考，更好的发扬和传承自强精神。</p>
                                </div>
                            </div>
                            <div class="back2">
                                <br><br><br>
                                <!--   <div class="box2">
                                      <h4>活动尚未启动，敬请期待！</h4>
                                      <div class="close">
                                         <a href="">退出</a>
                                      </div>
                                   </div> -->
                                <h3 style="color: white">自强欢迎你！</h3>
                                <br/>
                                <!--<input type="submit" name="jr" class="one" value="报名入口">-->
                                <input type="button" onclick="disp_alert()" value="报名入口" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="activity-inner">
                    <div class="front">
                        <img class="img-responsive" src="__IMG__/activity_picture/activity3.jpg" alt="activity">
                        <div class="desc">
                            <h3>义务家教</h3>
                            <p>
                                现在越来越多的家庭倾向于请家教为孩子辅导功课，但仍有部分家庭因为经济原因
                                无力负担家教这笔支出。在这种现状下，武汉理工大学自强社积极贯彻“资助育人，自强自
                                立，回报社会”的社团宗旨，引导大学生走进那些需要的家庭，帮助贫困学子，为理工大学
                                学子提供一个锻炼自身和奉献爱心的平台。</p>
                        </div>
                    </div>
                    <div class="back">
                        <br><br><br>
                        <!--   <div class="box2">
                             <h4>活动尚未启动，敬请期待！</h4>
                             <div class="close">
                                 <a href="">退出</a>
                             </div>
                           </div> -->
                        <h3 style="color: white">自强欢迎你！</h3>
                        <br/>
                        <!--<input type="submit" name="jr" class="one" value="报名入口">-->
                        <input type="button" onclick="disp_alert()" value="报名入口" />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="activity-inner">
                            <div class="front">
                                <img class="img-responsive" src="__IMG__/activity_picture/activity4.jpg" alt="activity">
                                <div class="desc">
                                    <h3>义务卖报</h3>
                                    <p>自强社每年都会组织志愿者，发起义务卖报的活动，志愿者们通过卖报所得收入捐给武汉
                                        高校家境有困难学生，既可以锻炼学生的能力，也可以增强学生们的公益心。<br/><br/><br/></p>
                                </div>
                            </div>
                            <div class="back2">
                                <br><br><br>
                                <!--   <div class="box2">
                                      <h4>活动尚未启动，敬请期待！</h4>
                                      <div class="close">
                                         <a href="">退出</a>
                                      </div>
                                   </div> -->
                                <h3 style="color: white">自强欢迎你！</h3>
                                <br/>
                                <!-- <<input type="submit" name="jr" class="one" value="报名入口">-->
                                <input type="button" onclick="disp_alert()" value="报名入口" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="activity-inner">
                    <div class="front">
                        <img class="img-responsive" src="__IMG__/activity_picture/activity5.jpg" alt="activity">
                        <div class="desc">
                            <h3>班级网页设计大赛</h3>
                            <p>班级主页大赛面向计算机科学与技术学院大一与大二年级同学，通过结合自强讲堂活动,邀
                                请各位技术大大们来举办讲座，为同学介绍科普HTML5、CSS、JavaScript等相关知识，同
                                时通过各班级内部组队的参赛形式，将所学知识运用到班级网页作品之中，提高自身能力，
                                展现班级风采。<br/><br/></p>
                        </div>
                    </div>
                    <div class="back">
                        <br><br><br>
                        <!--   <div class="box2">
                               <h4>活动尚未启动，敬请期待！</h4>
                               <div class="close">
                                   <a href="">退出</a>
                               </div>
                           </div> -->
                        <h3 style="color: white">自强欢迎你！</h3>
                        <br/>
                        <!-- <input type="submit" name="jr" class="one" value="报名入口">-->
                        <input type="button" onclick="disp_alert()" value="报名入口" />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="activity-inner">
                            <div class="front">
                                <img class="img-responsive" src="__IMG__/activity_picture/activity6.jpg" alt="activity">
                                <div class="desc">
                                    <h3>义务维修</h3>
                                    <p>
                                        义工服务队的特色活动，进入社区进行义务维修，主要维修的为电脑以及手机，维修方式以摆点和上门两种方式为主。以我们所能去帮助那些需要帮助的人们，发挥计算机专业的专业特色。不但可以服务社会，而且能够提高自己的能力。<br/><br/></p>
                                </div>
                            </div>
                            <div class="back2">
                                <br><br><br>
                                <!--     <div class="box2">
                                       <h4>活动尚未启动，敬请期待！</h4>
                                       <div class="close">
                                           <a href="">退出</a>
                                       </div>
                                      </div> -->
                                <h3 style="color: white">自强欢迎你！</h3>
                                <br/>
                                <!-- <input type="submit" name="jr" class="one" value="报名入口">-->
                                <input type="button" onclick="disp_alert()" value="报名入口" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="foot">
    <div id="picture">
        <a href=""><img src="__IMG__/kongjian.png"></a>
        <a href=""><img src="__IMG__/weixin.png"></a>
        <a href=""><img src="__IMG__/weibo.png"></a>
    </div>
    <p>联系我们</p>
    <p class="link">友情链接：<a href="http://www.whutacm.cn/">WHUTOJ</a></p>
    <span></span>
    <div id="foot-part1">
        <span>Copyright©2017blablabla号</span><br/>
    </div>
    <div id="foot-part2">
        <span>武汉理工大学自强社&nbsp&nbsp&nbsp&nbsp&nbspPowered By ziqiangshe.</span>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

    $(".glyphicon-th-list").on("touchstart",function(){
        var top=$("#head-right").css("top");
        if(top=="50px"){
            $("#head-right").css("top","5px");
        }
        if(top=="5px"){
            $("#head-right").css("top","50px");
        }
    });
    
    $(".default_li").mouseover(function(){
		$(this).addClass("active_li");
	});
	$(".default_li").mouseout(function(){	
		$(this).removeClass("active_li");
	});
	
</script>

</body>
