<!<!doctype html>
<html>
<head>
	<title>主页</title>
<meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<link rel="stylesheet" type="text/css" href="__CSS__/haf.css">
<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/index_css/carousel.css">
<script src="__JS__/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="__JS__/demo.js"></script>
</head>

<body>
<div id="head">
	<div id="head-body">
		<!-- 导航栏左面的部分 -->
		<div id="head-left">
			<a href="../blog/blog.html"><img src="__IMG__/zqs_icon.jpg" id="zqs_icon"></a>
			<a href=""><img src="__IMG__/zqs.png" id="zqs"></a>
			<div id="icon-display">
				<span class="glyphicon glyphicon-th-list"></span>
			</div>
		</div>
		<!-- 导航栏右面的部分 -->
		<div id="head-right">
			<div id="label">
				<ul>
					<li class="default_li active_li_fixed"><a href="">主页</a></li>
					<li class="default_li"><a href="../activity/activity.html">活动介绍</a></li>
					<li class="default_li"><a href="../genius/genius.html">自强人物</a></li>
					<li class="default_li"><a href="../contract/contract.html">加入我们</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="j_Poster poster-main" data-setting='{
					"width":1400,
					"height":870,
					"posterWidth":1200,
					"posterHeight":870,
					"scale":0.9,
					"speed":1000,
					"delay":2000,
					"autoplay":true,
					"verticalAlign":"middle"
}'>
	<div class="poster-btn poster-prev-btn"></div>
	<ul class="poster-list">
		<li class="poster-item"><a href="#"><img src="__IMG__/index_icon/1.jpg" width="100%"></a></li>
		<li class="poster-item"><a href="#"><img src="__IMG__/index_icon/2.jpg" width="100%"></a></li>
		<li class="poster-item"><a href="#"><img src="__IMG__/index_icon/3.jpg" width="100%"></a></li>
	</ul>
	<div class="poster-btn poster-next-btn"></div>
</div>
<div class="container">
	
	<div class="row">
		<div class="col-lg-4 col-md-4">
		<div class="ourGroup">
		<div class="image0">
			<img src="__IMG__/index_icon/zqstb.png">
		</div>
			<div class="top">我们的团队</div>
			<p>一代代前行，沐浴自强社光</p>
		</div>
		</div>
		<div class="col-lg-4 col-md-4">
		<div class="bangongshi">
		<div class="image">
			<img src="__IMG__/index_icon/mishu.png">
		</div>
		<div class="content">
			<h1>办公室</h1>
			<p>我们是自强君的小秘书，我们是将情报的收集、消息的传达、活动奖品的购买、同时与各个部门的联系和系列社团活动及例会内容的记录集一身的神秘小组织。我们在社团活动中起着非常重要的作用哦。</p>
		</div>
		</div>
		</div>
		<div class="col-lg-4 col-md-4">
		<div class="xuanchuan">
			<div class="image1">
				<img src="__IMG__/index_icon/xuanchuan.png">
			</div>
		<div class="content1">
			<h1>宣传部</h1>
			<p>顾名思义，负责社团内的宣传活动。主要是负责海报宣传单和视频的制作，以及官Q微信公众号的推送.（也就是说自强君就是我们）另外，部内也有500G的百度云资源，当然了，是宣传资料~</p>
		</div>
		</div>
		</div>
	</div>
	<div class="row">
	<div class="col-lg-4 col-md-4">
		<div class="cehua">
			<div class="image2">
				<img src="__IMG__/index_icon/cehua.png">
			</div>
			<div class="content2">
			<h1>策划部</h1>
			<p>策划部就是一个为各种活动提供精确计划的部门，需要有对活动经费的预算能力以及有应对各种突发事件的对策.总的来说，需要一个清晰的头脑和灵活的应变能力。小伙伴们有没有兴趣来考验一下自己咩~</p>
		</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<div class="wailian">
			<div class="image3">
				<img src="__IMG__/index_icon/wailian.png">
			</div>
			<div class="content3">
			<h1>外联部</h1>
			<p>我们外联部就是跟外界联络的一个部门.平时的主要任务就是借教室、联络老师啥的，加上蜜汁拉赞助.希望各种帅锅美铝正太萌妹属性的学弟学妹们，能来我们外联部，我们在这儿等着你
~</p>
		</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<div class="fuwudui">
			<div class="image4">
				<img src="__IMG__/index_icon/fuwudui.png">
			</div>
			<div class="content4">
			<h1>义工服务队</h1>
                <p>义工的小队，技术的殿堂! ! !这里有学长带你们<a href="http://www.whutacm.cn/" style="color: #00a0e9 !important;">体验acm的乐趣</a>，有义务维修电脑的成就感，有网页制作的团结互助，当然自强社的活动也少不了我们的参与，我们是一个积极向上的小团体。</p>
		</div>
		</div>
	</div>
	</div>
</div>
<div id="foot">
	<div id="picture">
		<a href=""><img src="__IMG__/kongjian.png"></a>
		<a href=""><img src="__IMG__/weixin.png"></a>
		<a href=""><img src="__IMG__/weibo.png"></a>
	</div>
	<p>联系我们</p>
	<p class="link">友情链接：<a href="http://www.whutacm.cn/">WHUTOJ</a></p>
	<span></span>
	<div id="foot-part1">
		<span>Copyright©2017blablabla号</span><br/>
	</div>
	<div id="foot-part2">
		<span>武汉理工大学自强社&nbsp&nbsp&nbsp&nbsp&nbspPowered By ziqiangshe.</span>
	</div>
</div>
<script type="text/javascript" src="__JS__/jquery-3.2.1.min.js"></script>
<script type="text/javascript">

    $(".glyphicon-th-list").on("touchstart",function(){
        var top=$("#head-right").css("top");
        if(top=="50px"){
            $("#head-right").css("top","5px");
        }
        if(top=="5px"){
            $("#head-right").css("top","50px");
        }
    })

</script>
<script>
$(function(){
				//var carousel=new Carousel($(".j_Poster").eq(0));
	if($(window).width()<450){
					$(".j_Poster").removeAttr('data-setting');
					$(".j_Poster .poster-btn").css("display","none");
				}
				Carousel.init($(".j_Poster"));

			});
    
    $(".default_li").mouseover(function(){
		$(this).addClass("active_li");
	});
	$(".default_li").mouseout(function(){	
		$(this).removeClass("active_li");
	});
</script>
</body>
</html>
