body{
    display: flex;
    flex-wrap: wrap;
}
p{
   word-break: break-all;
}
.navbar-default{
    background-color: white;
}
.nav{
    float: right;
    padding-top: 7px;
    padding-right: 30px;
}
.nav-tabs>li{
    margin-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;

    font-size: 18px;
}
.nav-tabs>li>a{
    color: #4F4F4F;
    font-family:FZLanTingHei-EL-GBK,"Open Sans","Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",Dengxian,Arial,SimSun,sans-serif;;
}
.nav-tabs>li>a:hover,.nav-tabs>li>a:active{
    background-color: #f8f8f8;
    color: OrangeRed;
}

.img-responsive{
    float: left;
}
body .footer {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height:40px;
    bottom: 0;
    font-family: FZLanTingHei-EL-GBK,"Open Sans","Hiragino Sans GB","Microsoft YaHei","微软雅黑",STHeiti,"WenQuanYi Micro Hei",Dengxian,Arial,SimSun,sans-serif;
}
.content {
    width: 100%;
}
.footer a{
    color:#f7f7f7;
    position:relative;
    top:4px;
    text-decoration: none;
    font-size: 18px;
}
.footer .able{
    border-radius:4px;
    height: 35px;
    width: 90px;
    text-align: center;
    background-color: #e32f2f;
    
}
.able:hover{
    background-color: #f84e4e ;
}
.footer .disable{
    border-radius:4px;
    height: 35px;
    width: 90px;
    text-align: center;
    background-color: #f84e4e ;
}
.container {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: SimSun;
    line-height: 1.6;
    font-size: 16px;
    background: #fff;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    ont-family: SimSun;
    line-height: 1.6;
    font-size: 16px;
    background: #fff;
    color: #848484;
    font-weight: 300;
}
.heading-section {
    padding-bottom: 1em;
    margin-bottom: 5em;
}
.col-md-8{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:SimSun;
    line-height: 1.6;
    font-size: 16px;
    background: #fff;
    color: #848484;
    font-weight: 300;
    overflow-x: hidden;
}
.text-center {
    text-align: center;
}
.heading-section h3 {
    font-size: 40px;
    font-weight: 300;
    position: relative;
    color: #5a5a5a;
    font-family: SimSun;
    margin: 120px 0 30px 0;
}
.heading-section p {
    font-size: 20px;
    margin-bottom: 1.5em;
    color: #848484;
    font-family: SimSun;
}
.heading-section:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    height: 1px;
    background: #ef6249;
}
.blog{
    width:100%;
}
.text {
    margin: 0 auto 80px auto;
    width: 800px;
    height: 250px;
    position: relative;
    border: solid #dedede thin;
    border-radius: 8px;
    -webkit-transition: all .5s ease 0s;
}
.text:hover{
    box-shadow: 0 5px 10px rgba(67,72,84,.3);
    transform: translate(0px,-5px);
    -webkit-transition: all .5s ease 0s;
}
.main {
    padding: 0 5px;
}
.main p{
    font-size: 16px;
    line-height:1.7;
    font-family: FZLanTingHei-EL-GBK, "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", Dengxian, Arial, SimSun, sans-serif;
}
.comment{
    width: 800px;
    height: 20px;
    position: absolute;
    bottom:20px;
}
.comment a{
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;
    font-size: 18px;
    color: #f84e4e;
    font-family: FZLanTingHei-EL-GBK, "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", Dengxian, Arial, SimSun, sans-serif;
}
.comment a:hover{
    color: #2aabd2;
}
.info-item{
    list-style-type: none;
    position: relative;left: 580px;
}
.info-item1{
    list-style-type: none;
    position: relative;
    left: 520px;
    top: 5px;
}
.info-item i,.info-item1 i{
    display: block;
    width:20px;
    height: 18px;
    background: url(/tp5/public/static/images/blog_icon/timg.jpg);
    -webkit-background-size:cover;
    background-size:cover;
}
.icon-comment{
    position:relative;top:4px;
}

.back-top {
    width: 56px;
    height: 50px;
    cursor: pointer;
    background-repeat: no-repeat;
}
.sticky {
    position: fixed;
    left: 50%;
    margin-left: 515px;
    bottom: 115px;
    z-index: 100;
    border-top: 0;
    display: none;
    background-image: url(/web/res/images/blog_icon/index_icon.png);
    background-position: -50px -637px;
}
.sticky:hover{
    background-position: -50px -690px;
}
.blog_text{
    margin: 0 auto 80px auto;
    width: 800px;
    height: auto;
    position: relative;
    border: solid #dedede thin;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(67,72,84,.3);
}
#one{
    position:relative;left:30%;
}
#two{
    position:relative;left:55%;
    
}
#three{
    position:relative;left:48%;
}

.pagination>li>span {
    background-color: orangered; !important;
    color: #fff; !important;
}

.conp>p {
    margin: 10px 40px 40px 40px;
    position:relative;
    top:10px
}